@using MvcStokProjesi.Models.Entity
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (Urunler urun in Model)
        {
            <tr>
                <th>@urun.UrunId</th>
                <td>@urun.UrunAdi</td>
                <td>@urun.Marka</td>
                <td>@urun.KategoriID</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Stok</td>
                <td><a href="~/Urun/Sil/@urun.UrunId" class="btn btn-danger">SİL</a></td>
                <td><a href="~/Urun/Güncelle/@urun.UrunId" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="~/Urun/YeniUrun" class="btn btn-primary">YENİ ÜRÜN EKLE</a>

