@model MvcStokProjesi.Models.Entity.Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.UrunId)
        @Html.TextBoxFor(x => x.UrunId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.UrunAdi)
        @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Marka)
        @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Kategoriler.KategoriId)
        @Html.DropDownListFor(m => m.Kategoriler.KategoriId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Fiyat)
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Stok)
        @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">ÜRÜN GÜNCELLE</button>
    </div>
}

